--swiftversion 5.7
--indent 4
--smarttabs disabled
--importgrouping testable-bottom
--commas inline
--modifierorder public,private(set),final,override,convenience,lazy,weak
--ifdef no-indent
--header strip
--lifecycle loadView,viewDidLoad,viewWillAppear,viewDidAppear,viewWillDisappear,viewDidDisappear
--stripunusedargs closure-only
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--maxwidth 180
--typeblanklines preserve

--enable markTypes,organizeDeclarations,blankLineAfterImports,blankLinesBetweenImports

--disable wrapMultilineStatementBraces,wrapSingleLineComments

--exclude **/Generated/**/*+Generated.swift